.navbar{
    border-radius: 72px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.60);
    backdrop-filter: blur(6.150000095367432px);
    min-height: 72px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 9px;
    justify-content: space-between;
    .logo{
        max-width: 200px;
        display: block;
    }
}

@media(max-width: 768px){
    .navbar .logo{
        max-width: 160px;
    }
    .navbar{
        min-height: 64px;
    }
}

@media(max-width: 380px){
    .navbar{
        .button-s{
            font-size: 14px;
            padding: 0 5px 0 10px;
            gap: 5px;
            svg{
                max-width: 30px;
            }
        }
        .logo{
            max-width: 130px;
        }
    }
}