.step-boxes {
  display: flex;
  flex-direction: column;

  gap: 14px;
  max-width: 500px;
  width: 100%;
}
.step-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  padding: 16px;

  border-radius: 8px;
  background: rgb(92, 94, 98);
    background: linear-gradient(-90deg, rgb(92, 94, 98) 0%, rgb(42, 45, 50) 100%);
    color: #fff;
  .box-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  svg {
    position: absolute;
    bottom: -33px;
    right: 12px;
    z-index: 1;
  }
}
