.the-voolt-experience-slider {
  margin-top: 50px;
  padding-bottom: 66px;

  .slick-dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    gap: 8px;
    li {
      button {
        font-size: 0;
        line-height: 0;
        padding: 0px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: unset;
        background-color: #CAE4DB;
        border: 1px solid #202122;
        transition: all 0.25s ease-in;
      }
    }
    .slick-active button {
      background-color: #202122;
      transition: all 0.25s ease-in;
    }
  }
  .slick-arrows {
    display: flex;
    padding: 0px;
    border: 0px;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    bottom: 2px;
  }
  .slick-prev {
    left: calc(50% - 73px);
  }
  .slick-next {
    left: calc(50% + 37px);
  }
  .slick-track {
    display: flex !important;
  }
  .voolt-experience {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .the-voolt-experience {
    padding: 48px 0px;
    padding-top: 300px;
  }
  .the-voolt-experience-slider {
    margin-top: 51px;
    padding-bottom: 85px;
  }

  .voolt-experience {
    padding: 20px;
    .voolt-experience--title {
      font-size: 20px;
      margin-bottom: 16px;
    }
    .cont-sm {
      border-bottom: unset;
      .space-between {
        flex-direction: column;
        gap: 15px;
        .left {
          width: 100%;
        }
        .right {
          width: 100%;
        }
      }
    }
    .before-after {
      margin-top: 22px;
      justify-content: center;
      .box {
        border-radius: 26px;
        padding: 11px;
        width: fit-content;
        .white-space {
          border-radius: 16px;
          padding: 13px;
          .dots {
            .dot {
              width: 6px;
              height: 6px;
            }
          }
        }
        .text {
          font-size: 10px;
          padding: 0px;
          max-width: 78px;
          margin-top: -9px;
        }
      }
    }
  }
}
// remove if you want 2 phones next to each other
@media screen and (max-width: 500px) {
  .voolt-experience .before-after {
    flex-direction: column;
    align-items: center;
  }
}
