.blur {
  background: var(--neutral-grey-dark, rgba(17, 17, 17, 0.64));
  position: fixed;
  inset: 0;
  z-index: 103;
}
.form-holder {
  overflow: auto;
  background: var(--color-yellow, #edf7fe);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: center;

  position: fixed;
  inset: 0;
  z-index: 110;

  max-width: 768px;

  margin: auto;
  padding: var(--padding-16, 16px) var(--padding-16, 16px) var(--padding-32, 32px) var(--padding-16, 16px);
  gap: 16px;
  border-radius: var(--border-8, 8px);

  transform: scale(0);
  animation: appearanim 0.25s ease-in 0.1s forwards;
  .primary-button {
    max-width: unset;
  }
  h3 {
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    color: var(--color-black, #005299);
    span {
      color: var(--color-secondary, #50abf9);
    }
  }
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
// .activate-form {
//   transition: 0.25s ease-in all;
//   scale: (1);
// }
@keyframes appearanim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.quote-form-top {
  display: none;
  background: var(--color-primary, #005299);
  max-height: 36px;
  margin-bottom: 36px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  a {
    display: flex;
    padding: var(--padding-8, 8px) 0px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: var(--neutral-white, #fff);
    font-weight: 500;
  }
}

.quote-form--completed {
  h3 {
    margin-bottom: 78px;
  }
  overflow: auto;
  position: fixed;
  z-index: 110;
  top: 65px;
  left: 8px;
  right: 8px;
  bottom: 65px;

  border-radius: var(--radius-8, 8px);
  background: var(--neutral-white, #fff);

  display: flex;
  justify-content: center;
  flex-direction: column;

  max-width: 358px;
  max-height: 548px;
  margin: auto;
  padding: var(--padding-32, 32px) var(--padding-16, 16px);
  gap: var(--24px, 24px);

  text-align: center;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
.hide-form {
  display: none;
}

.fullname-and-email {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.close-form {
  position: absolute;
  top: 12px;
  right: 4px;
  cursor: pointer;
  z-index: 12;
}
@media screen and (min-width: 768px) {
  .form-holder {
    max-width: 580px;
    // justify-content: center;
    top: 10px;
    bottom: 10px;
    max-height: 550px;
    h3 {
      padding-top: 0px;
    }
    .quote-form-inputs {
      .primary-button {
        max-width: 100%;
      }
    }
  }
  .fullname-and-email {
    flex-direction: unset;
    input {
      width: 100%;
    }
  }
  .quote-form-inputs textarea {
    min-height: 160px;
  }
  .quote-form--completed {
    max-width: 580px;
  }
}
